@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Petit+Formal+Script&family=Recursive:wght@300..1000&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background: #1a1a1a;
  --text: #2b2b2b;
  --text-hover: #b25200;
  --sub-color: #DEC792;
  --light: #F2E8CB;
  --white: #FFFFFF;
  --header: #1a1a1ae0;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
 
}

.fontPattern{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.recursiveFormal{
 font-family: "Petit Formal Script", cursive;
  font-weight: 500;
  font-style: normal;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

#root{
  min-height: 100vh;
}